/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
}
h1{
    font-size: 80px;
    padding: 30px 0px;
}
h2{
    font-size: 40px;
    padding: 20px 0px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 23px;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.col-right{
    float:right;
}
.col{
    float:left;
}
.col-text{
    width: 35%;
}
.col-text p{
    padding: 20px 0px;
}
.col-img{
    width:60%;
}
.col-gutter{
padding-right: 10%;
}
.col-trio{
    width:30%;
}
.col-trio-center{
    margin: 0 5%;
}
img{
    width: 100%;
}
.container{
    width:80%;
    margin:auto;
    padding: 50px 0;
}
.section-container{
    width:60%;
    margin: auto;
    padding:50px 0;
}
.full-width{
    width: 100%;
}
.row{
    width: 100%;
    padding:50px 0;
}
.border-gray{
    border:2px solid lightgray;
}
.back-lightblue{
    background-color: #b4d0e7;
}
/* BUTTON */
.button{

    padding: 10px 20px;
    text-decoration: none;
}
.button-blue:hover{
    background-color: #3c84ff;
}
.free-trial{
    width: 100%;
    margin: 25px 0;
}
.button-blue{
    background-color: #0061ff;
    color: white;
    border: 1px solid #0061ff;
}
.button-white{
    background-color: white;
    border: 1px solid black;
    color: black;
}


/* HEADER */
.logo-box{
line-height:90px;
padding-left: 20px;
}
.logo{
    margin:0 auto;
}
.head-container{
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    background-color: white;
}
.menu:hover{
    border-bottom: black 2px solid;
    padding:30px 0px;
}

.head-container li{
    display: inline-block;
    line-height:80px;
    padding:0 30px;
}
.menu{
    text-decoration: none;
    color: black;
}

/* MAIN */
.spacing-top{
    padding-top:110px;
}
.check-box{
    padding: 30px 0;
}
.check-box span{
    padding-right: 30px;
}
/* SECTION */
.plan-container{
    width: 100%;
    min-height: 1300px;
    /* height:400px; */
}
.top-plan{
    text-align: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.plan-description {
    padding: 30px;
}
.plan-description h4{
    padding-top: 40px;
}
.plan-description p::after{
    content:"";
    display: block;
    margin-top: 40px;
    height: 2px;
    background-color: lightgrey;
    width:40px;
}
.plan-description li{
    padding:15px;
    list-style: none;
    
}
.plan-description span{
    display: block;
    color: lightgrey;
    font-size: 15px;
    padding-bottom: 40px;
}
.plan-description p{
    padding: 30px 0;
}
/* PLAN FOOTER */
.plan-footer{
    margin-top: 35px;
}
.plan-footer h4{
    padding-top: 20px;
}
/* OPERATION */
.row-text p{
    padding-top: 20px;
}
/* TEAM */
.col-team-img{
    width:15%;
}
.team-img{
    width: 100%;
    padding: 30%;
    text-align: center;
}
.col-team-img img{
    width: 60%;
    /* padding: 5%; */
    filter: invert(1);
}

.team-description{
    width:40%;
    background-color: lightgrey;
}
.team-description img{
    width:10%;
}

.designit{
    background-color: #a2d39b;
}
.u-florida{
    background-color: #0093ce;
    /* test */
   /* background-image: url("img/university_of_florida.svg");
    background-position: center;
    background-size: 50%;
    
    background-repeat: no-repeat; 
    width: 100%;
    height: 100px;
} */}
.u-arizona{
    background-color: #61082b;
}
.topps{
    background-color: #ff1c1c;
}
.world-b{
    background-color: #d5001f;
}
.lonely{
    background-color: #0d2481;
}
.hearst{
    background-color: #b4d0e7;
}
.clear-channel{
    background-color: #ffd830;
}
/* DISCOVER */
.discover{
    padding-top: 30px;
}
/* FAQ-BOX */
.faq-box li{
    list-style: none;
    border-top: 1px solid black;
    padding: 20px 0;
}
.faq-box li:last-child{

    border-bottom: 1px solid black;
}
/* FOOTER */
.back-black{
    background-color: black;
    color: white;
}
.footer-container{
    width: 70%;
    margin:auto;
}
.footer-container li{
    padding:15px;
    list-style: none;
    
}
.col-footer{
    float:left;
    width:20%;

}
.col-footer li a{
    color: white;
    text-decoration: none;
 
}
